@model HospitalScheduler.WebApp.Models.RegisterVm

@{
    ViewData["Title"] = "Register";
}
<div class="container">
    <h1>Register</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Register" asp-controller="UserAccount">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CNP" class="control-label"></label>
                    <input asp-for="CNP" class="form-control" />
                    <span asp-validation-for="CNP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GenderId" class="control-label"></label><br />
                    <select asp-for="GenderId"id="cars">
                        <option asp-for="GenderId" value=1>Female</option>
                        <option asp-for="GenderId" value=2>Male</option>
                        <option asp-for="GenderId" value=3>Other</option>
                    </select>
                    <span asp-validation-for="GenderId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div>
        <a class="nav-link text-dark" asp-action="Login">Already have an account? Log in</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
