@model AppointmentsAsMedicVm

@{ 
    ViewData["Title"] = "Appointments";
}

@{ 
    <div class="container">
        <h1 class="display-4">Appointments</h1>
        <br />
        <br />
        <div class="container" id="appointmentContainer">
            <a href="~/Appointments/Patient" class="btn btn-outline-secondary">Patient Appointments</a>
            @if (CurrentUser.IsMedic)
            {
                <a href="~/Appointments/Medic" class="btn btn-outline-secondary">Medic Appointments</a>
            }
        </div>
    </div>
}